@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Mediumitalic.eot');
    src: url('fonts/subset-LyftPro-Mediumitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Mediumitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Mediumitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Mediumitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Mediumitalic.svg#LyftPro-Mediumitalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regularitalic.eot');
    src: url('fonts/subset-LyftPro-Regularitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regularitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regularitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Regularitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regularitalic.svg#LyftPro-Regularitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBold.eot');
    src: url('fonts/subset-LyftPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBold.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBold.svg#LyftPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Lightitalic.eot');
    src: url('fonts/subset-LyftPro-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Lightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Lightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Lightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Lightitalic.svg#LyftPro-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot');
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBolditalic.svg#LyftPro-SemiBolditalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Light.eot');
    src: url('fonts/subset-LyftPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Light.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Light.woff') format('woff'),
        url('fonts/subset-LyftPro-Light.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Light.svg#LyftPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bolditalic.eot');
    src: url('fonts/subset-LyftPro-Bolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Bolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bolditalic.svg#LyftPro-Bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regularitalic.eot');
    src: url('fonts/subset-LyftPro-Regularitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regularitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regularitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Regularitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regularitalic.svg#LyftPro-Regularitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bolditalic.eot');
    src: url('fonts/subset-LyftPro-Bolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Bolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bolditalic.svg#LyftPro-Bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-ExtraLightitalic.eot');
    src: url('fonts/subset-LyftPro-ExtraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-ExtraLightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-ExtraLightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-ExtraLightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-ExtraLightitalic.svg#LyftPro-ExtraLightitalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bold.eot');
    src: url('fonts/subset-LyftPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bold.woff') format('woff'),
        url('fonts/subset-LyftPro-Bold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bold.svg#LyftPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Lightitalic.eot');
    src: url('fonts/subset-LyftPro-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Lightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Lightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Lightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Lightitalic.svg#LyftPro-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regular.eot');
    src: url('fonts/subset-LyftPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regular.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regular.woff') format('woff'),
        url('fonts/subset-LyftPro-Regular.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regular.svg#LyftPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Blackitalic.eot');
    src: url('fonts/subset-LyftPro-Blackitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Blackitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Blackitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Blackitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Blackitalic.svg#LyftPro-Blackitalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regular.eot');
    src: url('fonts/subset-LyftPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regular.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regular.woff') format('woff'),
        url('fonts/subset-LyftPro-Regular.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regular.svg#LyftPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bold.eot');
    src: url('fonts/subset-LyftPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bold.woff') format('woff'),
        url('fonts/subset-LyftPro-Bold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bold.svg#LyftPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Medium.eot');
    src: url('fonts/subset-LyftPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Medium.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Medium.woff') format('woff'),
        url('fonts/subset-LyftPro-Medium.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Medium.svg#LyftPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-UltraLightitalic.eot');
    src: url('fonts/subset-LyftPro-UltraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-UltraLightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-UltraLightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-UltraLightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-UltraLightitalic.svg#LyftPro-UltraLightitalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-UltraLight.eot');
    src: url('fonts/subset-LyftPro-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-UltraLight.woff2') format('woff2'),
        url('fonts/subset-LyftPro-UltraLight.woff') format('woff'),
        url('fonts/subset-LyftPro-UltraLight.ttf') format('truetype'),
        url('fonts/subset-LyftPro-UltraLight.svg#LyftPro-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBold.eot');
    src: url('fonts/subset-LyftPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBold.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBold.svg#LyftPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Light.eot');
    src: url('fonts/subset-LyftPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Light.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Light.woff') format('woff'),
        url('fonts/subset-LyftPro-Light.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Light.svg#LyftPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-ExtraLight.eot');
    src: url('fonts/subset-LyftPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-ExtraLight.woff2') format('woff2'),
        url('fonts/subset-LyftPro-ExtraLight.woff') format('woff'),
        url('fonts/subset-LyftPro-ExtraLight.ttf') format('truetype'),
        url('fonts/subset-LyftPro-ExtraLight.svg#LyftPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot');
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBolditalic.svg#LyftPro-SemiBolditalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Black.eot');
    src: url('fonts/subset-LyftPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Black.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Black.woff') format('woff'),
        url('fonts/subset-LyftPro-Black.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Black.svg#LyftPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

