option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: wsgi_divvy.py
container_commands:
  00_replace_wsgi_config:
    command: "cp wsgi.conf ../wsgi.conf"
  01_restart_apache:
    command: "sudo service httpd restart"
packages:
  yum:
    postgresql93-server: []
    postgresql93-devel: []
    postgresql93-contrib: []
    git: []
