container_commands:
  replace_wsgi_config:
    command: "cp .ebextensions/wsgi.conf /etc/httpd/conf.d/wsgi.conf"
packages:
  yum:
    postgresql93-server: []
    postgresql93-devel: []
    postgresql93-contrib: []
    mod_wsgi: []
    git: []
commands:
  01_apache_restart:
    command: "service httpd restart"
