container_commands:
  replace_wsgi_config:
    command: "cp .ebextensions/wsgi_custom.conf /etc/httpd/conf.d/wsgi_custom.conf"
packages:
  yum:
    postgresql93-server: []
    postgresql93-devel: []
    postgresql93-contrib: []
    git: []
commands:
  01_apache_restart:
    command: "service httpd restart"
