/* =Color Palette
-------------------------------------------------------------- */ /*

  Black is #000000
  Almost white is #DCDCDC
  Button pink is #FF00BF

  */


/* =Base Styles
-------------------------------------------------------------- */

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Mediumitalic.eot');
    src: url('fonts/subset-LyftPro-Mediumitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Mediumitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Mediumitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Mediumitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Mediumitalic.svg#LyftPro-Mediumitalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regularitalic.eot');
    src: url('fonts/subset-LyftPro-Regularitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regularitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regularitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Regularitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regularitalic.svg#LyftPro-Regularitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBold.eot');
    src: url('fonts/subset-LyftPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBold.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBold.svg#LyftPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Lightitalic.eot');
    src: url('fonts/subset-LyftPro-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Lightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Lightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Lightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Lightitalic.svg#LyftPro-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot');
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBolditalic.svg#LyftPro-SemiBolditalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Light.eot');
    src: url('fonts/subset-LyftPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Light.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Light.woff') format('woff'),
        url('fonts/subset-LyftPro-Light.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Light.svg#LyftPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bolditalic.eot');
    src: url('fonts/subset-LyftPro-Bolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Bolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bolditalic.svg#LyftPro-Bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regularitalic.eot');
    src: url('fonts/subset-LyftPro-Regularitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regularitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regularitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Regularitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regularitalic.svg#LyftPro-Regularitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bolditalic.eot');
    src: url('fonts/subset-LyftPro-Bolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Bolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bolditalic.svg#LyftPro-Bolditalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-ExtraLightitalic.eot');
    src: url('fonts/subset-LyftPro-ExtraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-ExtraLightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-ExtraLightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-ExtraLightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-ExtraLightitalic.svg#LyftPro-ExtraLightitalic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bold.eot');
    src: url('fonts/subset-LyftPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bold.woff') format('woff'),
        url('fonts/subset-LyftPro-Bold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bold.svg#LyftPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Lightitalic.eot');
    src: url('fonts/subset-LyftPro-Lightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Lightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Lightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Lightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Lightitalic.svg#LyftPro-Lightitalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regular.eot');
    src: url('fonts/subset-LyftPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regular.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regular.woff') format('woff'),
        url('fonts/subset-LyftPro-Regular.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regular.svg#LyftPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Blackitalic.eot');
    src: url('fonts/subset-LyftPro-Blackitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Blackitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Blackitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-Blackitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Blackitalic.svg#LyftPro-Blackitalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Regular.eot');
    src: url('fonts/subset-LyftPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Regular.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Regular.woff') format('woff'),
        url('fonts/subset-LyftPro-Regular.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Regular.svg#LyftPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Bold.eot');
    src: url('fonts/subset-LyftPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Bold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Bold.woff') format('woff'),
        url('fonts/subset-LyftPro-Bold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Bold.svg#LyftPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Medium.eot');
    src: url('fonts/subset-LyftPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Medium.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Medium.woff') format('woff'),
        url('fonts/subset-LyftPro-Medium.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Medium.svg#LyftPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-UltraLightitalic.eot');
    src: url('fonts/subset-LyftPro-UltraLightitalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-UltraLightitalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-UltraLightitalic.woff') format('woff'),
        url('fonts/subset-LyftPro-UltraLightitalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-UltraLightitalic.svg#LyftPro-UltraLightitalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-UltraLight.eot');
    src: url('fonts/subset-LyftPro-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-UltraLight.woff2') format('woff2'),
        url('fonts/subset-LyftPro-UltraLight.woff') format('woff'),
        url('fonts/subset-LyftPro-UltraLight.ttf') format('truetype'),
        url('fonts/subset-LyftPro-UltraLight.svg#LyftPro-UltraLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBold.eot');
    src: url('fonts/subset-LyftPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBold.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBold.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBold.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBold.svg#LyftPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Light.eot');
    src: url('fonts/subset-LyftPro-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Light.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Light.woff') format('woff'),
        url('fonts/subset-LyftPro-Light.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Light.svg#LyftPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-ExtraLight.eot');
    src: url('fonts/subset-LyftPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-ExtraLight.woff2') format('woff2'),
        url('fonts/subset-LyftPro-ExtraLight.woff') format('woff'),
        url('fonts/subset-LyftPro-ExtraLight.ttf') format('truetype'),
        url('fonts/subset-LyftPro-ExtraLight.svg#LyftPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot');
    src: url('fonts/subset-LyftPro-SemiBolditalic.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff2') format('woff2'),
        url('fonts/subset-LyftPro-SemiBolditalic.woff') format('woff'),
        url('fonts/subset-LyftPro-SemiBolditalic.ttf') format('truetype'),
        url('fonts/subset-LyftPro-SemiBolditalic.svg#LyftPro-SemiBolditalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Lyft Pro UI';
    src: url('fonts/subset-LyftPro-Black.eot');
    src: url('fonts/subset-LyftPro-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/subset-LyftPro-Black.woff2') format('woff2'),
        url('fonts/subset-LyftPro-Black.woff') format('woff'),
        url('fonts/subset-LyftPro-Black.ttf') format('truetype'),
        url('fonts/subset-LyftPro-Black.svg#LyftPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

/* Links */
a, a:active, a:visited {
  color: #0F3573;
}
a:hover {
  color: #419BD9;
}

/* Typography */
body, select, input, textarea {
  color: #555;
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lyft Pro UI", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  letter-spacing: 0.045em;
  color: black;
}

/* Buttons */
.btn,
.btn:visited,
.btn:link {
  border-radius: 4px;
  border-color: transparent;
  padding: 0.5rem 1rem;
  background-color: #FF00BF;
  color: #fff;
  font-family: "Lyft Pro UI", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  font-size: 1.08rem;
  font-weight: 700;
  letter-spacing: 0.055em;
  text-transform: none;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}
.btn:hover, .button:hover, button:hover {
  background-color: #000;
}
.btn-primary, .btn-primary:visited, .btn-primary:link {
  background-color: black;
  color: #fff;
/*  font-weight: 700;*/
}
.btn-primary:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
  border-style: solid;
}
.btn-secondary,
.btn-secondary:visited,
.btn-secondary:link {
  background-color: #FF00BF;
  color: #fff;
}
.btn-secondary:hover {
  background-color: #000;
}

/* Forms */
label {
  font-family: Arial, sans-serif;
}
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
  border-color: #ddd;
}
input:focus,
textarea:focus {
  border-color: #419BD9;
  outline: 2px solid #419BD9;
}

.form-submitted input:invalid,
.form-submitted textarea:invalid,
.form-submitted select:invalid {
  outline: 2px solid #b2182b;
}

/* hiding comment fields at end of submissions */

div #reply {
  display: none;
}

a.reply-link.btn.btn-small {
  display: none;
}
.survey-header {
  display: none;
}

/* =Header
-------------------------------------------------------------- */

#site-header {
  color: inherit;
  background-color: white;
  min-height: 3em;
}
#site-title {
  font-weight: 700;
  text-shadow: 1px -1px 1px rgba(0,0,0,0.5);
  margin: 0;
}
#site-title a:link,
#site-title a:visited {
  font-size: 0.7rem;
  line-height: 1;
  display: block;
  /* max-width: 8.5em; */
}
@media only screen and (min-width: 60em) {
  #site-title a:link,
  #site-title a:visited {
    font-size: 1em;
    line-height: 1.2;
    display: inline-block;
    /* max-width: 8.5em; */
  }
}

.site-logo {
  display: inline-block;
  margin: 0.1rem 3rem 0 0;
  height: 1.5rem;
}
@media only screen and (min-width: 60em) {
  .site-logo {
    margin-top: 0.8rem;
    margin-right: 0.6rem;
    height: 2.85rem;
  }
}

#site-title a.site-subtitle {
  font-family: "Lyft Pro UI", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", sans-serif;
  letter-spacing: 0.045em;
  color: black;
  text-shadow: none;
}

#babs-logo {
  display: block;
  height: 0.75em;
  margin: 0.2em 0.25em 0 0;
}
.site-icon {
  display: none;
}

@media only screen and (min-width: 60em) {
  #site-title {
    max-width: none;
    margin-right: 0.5em;
    margin-left: -0.5em;
  }
  #site-title a.site-subtitle {
    vertical-align: 63%;
    font-size: 1.4rem;
  }
}

/* Navigation Button */
#nav-btn {
  font-family: "Helvetica Neue", Arial, Helvetica, serif; /* Careful changin' this! */
  background: black;
  color: white;
  text-shadow: -1px 1px 1px rgba(0,0,0,0.25);
}

@media only screen and (min-width: 60em) {
  #pages-nav-container, #language-picker {
    height: 3.5rem;
  }
}

/* User Menu */
#sign-in-btn {
  color: #BFEFFF;
  font-weight: 700;
}
#sign-in-btn:hover {
  color: #419BD9;
}
a.logout-btn {}


/* =Geocoding
-------------------------------------------------------------- */

#geocode-address-bar {
  background-color: #0F3573;
}
input.geocode-address-field {
  background-color: #004178;
}


/* =Map
-------------------------------------------------------------- */

/* Add Place Button */
#add-place-btn-container {
  background: #419BD9;
  border-bottom: 1px solid #419BD9;
}

#add-place {
  font-size: 1.4rem;
  letter-spacing: 0.045em;
}

@media only screen and (min-width: 60em) {
  #add-place-btn-container .btn:link,
  #add-place-btn-container .btn:visited {
    padding: 0.84rem 4.2rem;
  }
}

/* Drag Marker Instructions (for adding a new place) */
.drag-marker-instructions,
.drag-marker-warning {
/*  background-color: rgba(240,240,0,0.2);*/
/*  color: #444;*/
}
.drag-marker-warning {
/*  background-color: rgba(242, 206, 206, 0.8);*/
}

/* Ajax Error Message */
#ajax-error-msg {
/*  color: #8D5251;*/
/*  border: 1px solid #CFABAB;*/
/*  background-color: rgba(242, 206, 206, 0.8);*/
}


/* =Progress Bars
-------------------------------------------------------------- */

.progress-bar {
/*  background: rgba(85,85,85,0.5);*/
}
.progress-bar strong {
/*  color: #fff;*/
/*  text-shadow: 0 0 0.25em rgba(85,85,85,1);*/
}
.progress-bar span {
/*  background: #00aaff;*/
}


/* =Content: Pages & Places
-------------------------------------------------------------- */

#content {
/*  background: #fff;*/
}

/* Close Button */
a.close-btn {
  font-family: "Helvetica Neue", Arial, Helvetica, serif; /* Careful changin' this! */
  background: #fff;
  color: #ff5e99;
}
a.close-btn:hover {
  color: #cd2c67;
}

/* Promotion: Voting & Sharing */
.promotion {
  float: none;
}
.support .btn, .support .btn:visited, .support .btn:link {
  border-width: 0.5em;
  font-size: 1em;
  text-align: left;
/*  display: inline-block;*/
/*  width: auto;*/
}
.user-support label {
  color: #fff;
  padding-left: 30px;
  transition: background-color 0.1s, color 0.1s, border-color 0.1s;
}
.user-support input[type=checkbox]:checked ~ label {
  background-image: url(images/heart-white.png);
}
.user-support:hover input[type=checkbox]:checked ~ label {
  background-image: url(images/heart.png);
}
.user-support:hover label {
  background-color: black;
  color: #fff;
}
.sharing {
  float: left;
  width: 100%;
}
.share-link {
  margin: 0;
  width: 50%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.share-link a {
  width: 100%;
  position: relative;
  border-radius: 3px;
  box-shadow: -0.25em 0.25em 0 rgba(0,0,0,0.1);
}
.share-link a:after {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  font-size: 0.75em;
  line-height: 32px;
  text-indent: 0;
}
.share-facebook {
  padding-right: 5px !important;
}
.share-facebook a {
  background-color: #3c5a94;
}
.share-facebook a:after {
  content: 'Facebook';
  padding-left: 26px;
}
.share-twitter {
  padding-left: 5px !important;
}
.share-twitter a {
  background-color: #25abdd;
}
.share-twitter a:after {
  content: 'Twitter';
  padding-left: 30px;
}

/* Places */
.place-header h1 {
  font-size: 1.375em;
  margin-bottom: 0.75em;
}

.response-date {
/*  text-transform: uppercase;*/
  color: #555;
}
.response-date a {
  color: #555;
}
.response-date a:hover {
  color: #419BD9;
}

/* Checkboxes for survey */

.checkbox {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0 1em 0 0;
}
.checkbox label {
  font-family: gtPressuraMonoBold, sans-serif;
  font-weight: normal;
}
.checkbox input {
  outline: 0;
}
.checkbox + .text {
  margin-top: 1em;
}

/* display of check boxes */
.place-items .place-item-description:after {
  content: "I'd use this location for: ";
  float: left;
  color: #888;
  margin-right: 0.5em;
}
.place-item-work,
.place-item-shopping,
.place-item-fun,
.place-item-home,
.place-value-work,
.place-value-shopping,
.place-value-fun,
.place-value-home {
  display: inline;
}

/* Surveys */
.response-body {
/*  border-top-color: #a8a8a8;*/
/*  border-right-color: #c8c8c8;*/
/*  border-left-color: #c8c8c8;*/
/*  background: #eee;*/
}
.response-body:after {
/*  border-top-color: #eee;*/
}


/* =The Ticker
-------------------------------------------------------------- */

#ticker {
  background-color: black;
}
.legend {
  padding: 0.75em 0.75em 0.5em;
}
.legend ul {
  background-color: #fff;
  padding: 0.5em;
  border-radius: 3px;
  box-shadow: -0.325em 0.325em 0 rgba(0,0,0,0.1);
}
.legend li {
  line-height: 35px;
  clear: left;
  font-size: 0.85em;
  font-weight:bold;
  text-transform: uppercase;
}
.legend li + li {
  margin-top: 0.5em;
}
.legend li img {
  float: left;
  margin-right: 0.5em;
}
.recent-points a {
  color: #fff;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.recent-points a:hover {
  color: #fff;
  background: black;
  border-color: rgba(0,0,0,0.1);
}
.recent-points .avatar {
  border-radius: 4px;
}


/* =List View
-------------------------------------------------------------- */

#list-container {
}

/* Search & Sort */
.list-sort-menu {
}
.list-sort-prompt {
}
.list-sort-menu a {
}
.list-sort-menu a.is-selected {
  color: #555;
}

/* Place List */
.place-list > li {
  border-top: 1px solid #ddd;
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
  background-color: black;
  color: white;
}

/* Powered By - Please do not change these. */
a.shareabouts-logo {
  font-family: 'Dancing Script', cursive;
  color: #a3c7d9;
}
a.shareabouts-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}
#powered-by a.openplans-logo {
  font-family: "Helvetica Neue", Arial, Helvetica, serif;
  color: #ffb885;
}
#powered-by a.openplans-logo:hover {
  color: #fff;
  border-bottom: 1px solid #ccc;
}


/* =Media Queries
-------------------------------------------------------------- */

@media only screen and (min-height: 440px) and (max-width: 60em) {
}

@media only screen and (min-height: 568px) and (max-width: 60em) {
}

@media only screen and (min-width: 768px) and (max-width: 60em) {
}

@media only screen and (min-width: 60em) {
  .access li:hover > ul,
  .access li:hover > form > ul {
/*    background: #ccc;*/
/*    border-color: rgba(0,0,0,0.05);*/
  }
  .sign-in-menu {
    background: #BFEFFF;
  }
  .sign-in-menu:before {
    border-bottom-color: #BFEFFF;
  }

  #add-place-btn-container {
    background: transparent;
    border-bottom: 0;
  }

  .list-toggle-nav {
    float: left;
  }
  .list-toggle-btn,
  .list-toggle-btn:visited,
  .list-toggle-btn:link {
    min-width: 11.5em;
    background-color: #419BD9;
    color: #fff;
  }
  .list-toggle-btn:hover {
    background-color: #419BD9;
    color: #fff;
  }
  .show-the-map:before {
    content: '\27A4';
    margin: 0 0.375em;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 30% 60%;
        -ms-transform-origin: 30% 60%;
            transform-origin: 30% 60%;

  }
  .show-the-list:before {
    content: '\2630';
    margin: 0 0.375em;
    text-shadow: -0.25em 0 0 #419BD9, -0.25em -1px 0 #419BD9, -0.25em 1px 0 #419BD9, -0.375em 0 0 #fff;
  }
  .list-toggle-btn:hover .show-the-list:before {
    text-shadow: -0.25em 0 0 #419BD9, -0.25em -1px 0 #419BD9, -0.25em 1px 0 #419BD9, -0.375em 0 0 #fff;
  }
  #geocode-address-bar {
    border-right: 1px solid #0F3573;
  }

  /* narrower content area */
  .activity-enabled #content { left: 47%; }
  .activity-enabled.content-visible #map-container { width: 47%; }

}

@media only screen and (min-width: 80em) {

  /* narrower content area */
  .activity-enabled #content { left: 55%; }
  .activity-enabled.content-visible #map-container { width: 55%; }

}

@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
}

/* .or-sign-in { display:none;}
.user-menu {display:none;} */
